@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: 'Inter', serif;
}

.heading-title {
    font-size: 20px;
    font-weight: 700;
}

.custom-breadcrumb {
    margin-top: 100px !important;
}